# Your wiki username
wiki_username='my_wiki_user'

# The password for that user
wiki_password='my_wiki_password'

# When there is no secrets.py, or when it sets testmode to true
# page updates will nog be send to the wiki, instead the resulting
# update will be printed to the console. 
testmode=True
